.category img {
  min-width: 220px;
  max-width: 220px;
  min-height: 168px;
  max-height: 168px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.category .card-img-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -10px);
}

.category .card {
  opacity: 1;
  filter: alpha(opacity=40);
}

.category .card:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
}

.carousel-control-next {
  width: 4% !important;
}

.carousel-control-prev {
  width: 4% !important;
}

.carousel-indicators {
  visibility: hidden;
}

.category h3 {
  margin: 0;
}