.category img {
    /* max-width: 100%;
    width: auto;
    height: auto; */
    min-width: 220px;
    max-width: 220px;
    min-height: 168px;
    max-height: 168px;
    border: 1px solid;
  }
  
  .category .card-img-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -10px);
  }