/* ---------Background--------- */
.bg-signup {
  background: #ff6600;
  width: 100%;
  height: 100%;
}

.bg-navsignup {
  background-color: white !important;
}

/* ---------Form--------- */
.form {
  box-shadow: 0 4px 4px 2px rgb(0 0 0 / 25%);
  border-radius: 4px;
}

.form .btn {
  width: 100% !important;
  background-color: #ff6600;
}

.form h5 {
  color: white;
}

/* ---------Alternative--------- */

.alternative {
  text-align: end;
  margin-bottom: 40px;
}

.alternative h4 {
  opacity: 50%;
  font-weight: bold;
}


.alternative a {
  opacity: 100% !important;
  color: #ff6600;
}

.errorMessage{
  color: red
}
