.btn-medium {
  width: 140px !important;
  height: 38px !important;
  border: none !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%) !important;
  color: white !important;
}

.btn-small {
  width: 100px !important;
  height: 34px !important;
  border: none !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%) !important;
  color: white !important;
}

.btn-large {
  width: 180px !important;
  height: 50px !important;
  border: none !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%) !important;
  color: white !important;
}

.blue {
  background-color: #0099ff !important;
}

.blue:hover {
  background-color: #007ccf !important;
}

.red {
  background-color: #d75a4a !important;
}

.red:hover{
  background-color: #a7473b !important;
}

.orange {
  background-color: #ff6600 !important;
}

.orange:hover{
  background-color: #ca5100 !important ;
}

.green {
  background-color: #77d068 !important;
}

.green:hover {
  background-color: #4f9e41 !important;
}

.yellow {
  background-color: #feb905 !important;
}

.yellow:hover{
  background-color: #cc9201 !important;
}

.grey {
  background-color: #c4c4c4 !important;
}

.grey:hover {
  background-color: #949191 !important;
}
