.table-head tr {
  background: rgba(0, 153, 255, 0.3);
}

.admin-stock svg{
  width: 24px;
  height: 24px;
}

.modify svg {
  cursor: pointer;
}

/* -----icon----- */

.add svg {
  color: #0099ff;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 25%));
}

.add svg:hover {
  color: #007ccf;
}

.edit svg {
  background-color: #ffe455;
  color: black;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%)
}
.edit svg:hover {
  background-color: #ceb434;
  color: black;
}

.bin svg {
  color: black;
  background-color: #ff7b7b;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%)
}
.bin svg:hover {
  color: black;
  background-color: #bd5a5a;
}
