.order-container {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%) !important;
  height: auto;
  padding-block: 40px;
}
/* 
.order-background img {
  object-fit: scale-down;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
} */

/* .order-background {
  max-width: 312px;
  min-height: 209px;
  position: relative;
  background-color: red;
} */

.order-image img{
  width: 100%;
  height: 100%;
  padding-inline: 40px;
}
